.pepe{
    float: left;
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 5px;
}
#juan{
    
    position: absolute;
    width: 650px;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}
#prueba{
    display: none;
}