    body {
        padding: 1em 3em;
        background: white;
        text-align: center;
        width: 700px;
    }

    #tabla {
        height: 350px;
    }

    .reset {
        display: block;
        width: 100px;
        clear: both;
        border:  solid black;

    }

    .reset,
    a {
        text-decoration: none;

    }

    .columna {
        width: 55px;
        background-color: #0EA248;
        float: left;
    }

    .col {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: solid black;
        clear: both;
        background-color: beige;


    }


    .ficha_rojo {
        background: red;
        border: solid #000651;
        margin: 0px;
        color: red;
    }

    .ficha_azul {
        background: blue;
        border: solid black;
        margin: 0px;
        color: blue;
    }

    .boton {
        clear: both;
        text-align: left;
    }
