#tabla {
    height: 450px;
    width: 510px;
}

.columna {
    width: 72px;
    height: 422px;
    background-color: royalblue;
    float: left;
}

.fila {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    clear: both;
    background-color: beige;
    box-shadow: 2px 2px 5px #999;
}

.fichaR {
    text-align: center;
    background: red;
    margin: 0px;
    color: red;
}

.fichaA {
    text-align: center;
    background: yellow;
    margin: 0px;
    color: yellow;
}

.reset {
    width: 200px;
    height: 50px;
    border: solid black;
}

.reset,
a {
    text-decoration: none;
    font-size: 40px;
    font-family: cursive;
    font-style: italic;
    text-decoration-color: black;
}

#tabla {
    /*para mostrarel texto del ganador*/
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-size: -webkit-xxx-large;
    color: slateblue;
}

#mensajeFinal {
    font-size: 70px;
    background-color: royalblue;
}

#contenedorTitulo {
    padding-left: 140px;
}

#nombre {
    text-align: center;
    align-content: center;
    border: dotted black;
    width: 170px;
    color: blue;
}
