td{
    border-radius: 50%;
    background-color: cornsilk;
}
table {
    width: 250px;
    height: 250px;
    background-color: cornflowerblue;
}
div{
     width: 250px;
    height: 250px;
    background-color: cornflowerblue;
}