.tabla1,
.tabla2,
.tabla3,
.tabla4,
.tabla5,
.tabla6,
.tabla7,
.tabla8,
.tabla9,
.tabla10 {
    text-align: center;
    float: left;
    width: 20%;
    padding: 20px;
    color: blue;
}
div{
    color: black;
}